<ion-card>
  <ion-item lines="none">
    <h1 slot="start" color="blue">{{titulo}}</h1>
    <ion-icon slot="end" routerLink="/home" name="play-back-outline"></ion-icon>
  </ion-item>

  <img src="{{imageSource}}">
  
  <ion-card-content>
    {{Descripcion}}
  </ion-card-content>

  <div class="rating-container">
    <ion-icon
      *ngFor="let star of stars"
      [name]="star.iconName"
      (click)="rate(star.value)"
    ></ion-icon>
  </div>

  <div class="selected-rating">
    Calificación seleccionada: {{ selectedRating }}
  </div>
</ion-card>