<ion-header [translucent]="true">
</ion-header>


<ion-content [fullscreen]="true">
  <ion-list (ngSubmit)="irHome()">
    <ion-item class="tit">
      <ion-label position="floating">titulo:</ion-label>
      <ion-input type="text" [(ngModel)]="titulo" name="titulo" required></ion-input>
    </ion-item>
    <ion-item class="tit">
      <ion-label position="floating">Descripción:</ion-label>
      <ion-input type="text" [(ngModel)]="Descripcion" name="Descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Agregar imagen:</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="camera" (click)="takePicture()"></ion-icon>
    </ion-item>

    <ion-item id="Photo">
      <img src="{{imageSource}}" class="image">
    </ion-item>
    
  </ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>

    <ion-tabs >
      <ion-tab-bar slot="bottom" >
        <ion-tab-button tab="radio" routerLink="/home">Cancelar</ion-tab-button>
        <ion-tab-button tab="radio" type="submit" (click)='irHome()'>Guardar</ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>