<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar search-icon="search-circle" placeholder="Custom Search Icon"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    <img [src]="receivedImageSource" />
    <ion-card-header>
      <ion-card-title>{{ receivedTitulo }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{receivedDescripcion}}
    </ion-card-content>
    
    <ion-button (click)="irDetalle()">Detalle</ion-button>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        

        <ion-tab-button routerLink="/formulario" tab="radio">
          <ion-icon name="add-outline"></ion-icon>
          Agregar
        </ion-tab-button>

        
      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>